.page {
  margin: 0 auto;
  max-width: 900px;
}

.container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.item {
  width: 256px;
}

.image {
  max-width: 256px;
}

.name {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
